name: Benchmark
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Benchmark
    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: npm run bench
